
{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    <ul id="ilmoitusviesti">
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}

<div class="container container-padding">
    {% for keskustelualue in keskustelualueet %}
    <div id="aiheet">
        <div class="col-xs-5 col-lg-5 col-md-5">
            <div class="unitlist">
                <div class="thumbnail">
                    <div class ="caption container-padding ">
                        <h3><a href="{{base_path}}/aiheet/{{keskustelualue.id}}">{{keskustelualue.name}}</a></h3><br>
                        <div class="panel-body" id="paragraafi">
                            <p>{{keskustelualue.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}