{%extends "base.html" %}
{% block content %} 
{% set lanka = ""%}
{% for viesti in viestit %}
{% set lanka = viesti.thread%}
{% endfor %}

{% if message %}
<div class="alert alert-success">
    <ul id="ilmoitusviesti">
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}
<div  class="btn-group btn-group-xs pull-right" role="group">
    {% if user_logged_in %}
    <form method="post">
        <a href="{{base_path}}/uusi/viesti/{{lankaid}}"<button class="btn btn-xs pull-right btn-primary">Vastaa ketjuun</button></a>
        {% if suosikki == false %}
        <button type="submit" formaction="{{base_path}}/suosikit/lisaa" name="id" value="{{lankaid}}" class="btn btn-success btn-xs">Suosikkeihin</button>
        {%else%}
        <button type="submit" class="btn btn-danger btn-xs" value="{{lankaid}}" name="id" formaction="{{base_path}}/suosikit/poista">Poista suosikeista</button>
        {% endif%}
    </form>
    {%endif%}

</div>

<h3>{{lanka}}</h3>

{% set lanka = ""%}
{% for viesti in viestit %}
{% set lanka = viesti.id%}
<div class="container container-padding">

    <div class ="caption">
        <div class="panel panel-info">
            <div class="panel-heading"><b>{{viesti.author}}</b>, {{viesti.time}} 
                <div  class="btn-group btn-group-xs pull-right" role="group">
                    {% if (viesti.author == user_logged_in.name or user_logged_in.moderator == 1) %}
                    <a href="{{base_path}}/viesti/edit/{{viesti.id}}"<button type="button" class="btn btn-default" class="btn-xs">Muokkaa</button></a>
                    <a href="{{base_path}}/viesti/kill/{{viesti.id}}"<button type="button" class="btn btn-default" class="btn-xs">Poista</button></a>
                    {%endif%}
                </div>
            </div>
            <div class="panel-body">
                <pre id="tekstilaatikko">{{viesti.content}}
                </pre>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<a href="{{base_path}}/uusi/viesti/{{lankaid}}"<button class="btn btn-sm btn-primary">Vastaa ketjuun</button></a>

{% endblock %}