{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Tervetuloa pepefoorumille!   <img src="http://i.imgur.com/B1GiTPi.jpg"</img> </h1>
</div>
<h3>Uusimmat keskustelut:

</h3>
<p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Aihe</th>
            <th style="text-align: center">Viimeisin vastaaja</th>
            <th style="text-align: center">Viimeisin viesti</th>
        </tr>
    </thead>
    {% for viesti in viestit %}
    <tbody>
        <tr>
            <td>{{viesti.thread}}</td>
            <td style="text-align: center">{{viesti.author}}</td>
            <td style="text-align: center">{{viesti.time}}</td>
            <td style="text-align: center"><a href="/forum/langat/{{viesti.id}}" <button class="btn btn-primary btn-xs">Lue nyt</button></a>
        </tr>
    </tbody>
    {% endfor %}
</table>
</p>
{% endblock %}
