{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Tervetuloa pepefoorumille!   <img src="http://i.imgur.com/B1GiTPi.jpg"</img> </h1>
</div>
<h3>Uusimmat keskustelut:

</h3>
<p>
<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td>Harvinainen Pepe 3£/kg</td>
            <td>SiirappiHirvi</td>
            <td>16.3.2016 05:12</td>
            <td><button type="button"><a href="/forum/langat/kokeilu"</a>Lue nyt</button>
        </tr>
        <tr>
            <td>Harvinainen Pepe 3£/kg</td>
            <td>SiirappiHirvi</td>
            <td>16.3.2016 05:12</td>
            <td><button type="button"><a href="/forum/langat/kokeilu"</a>Lue nyt</button>
        </tr>
        <tr>
            <td>Harvinainen Pepe 3£/kg</td>
            <td>SiirappiHirvi</td>
            <td>16.3.2016 05:12</td>
            <td><button type="button"><a href="/forum/langat/kokeilu"</a>Lue nyt</button>
        </tr>
        <tr>
            <td>Harvinainen Pepe 3£/kg</td>
            <td>SiirappiHirvi</td>
            <td>16.3.2016 05:12</td>
            <td><button type="button"><a href="/forum/langat/id"</a>Lue nyt</button>
        </tr>
        <tr>
            <td>WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW</td>
            <td>SiirappiHirvi</td>
            <td>16.3.2016 05:12</td>
            <td><button type="button"><a href="/forum/langat/id"</a>Lue nyt</button>
        </tr>
    </tbody>
</table>
</p>
{% endblock %}
