{% extends "base.html" %}

{% block content %}

<h1>SiirappiHirvi  </h1>

    
<div class="form-horizontal">


    <input type="text" class ="form-control">
    <label>Uusi nimi </label>
</div>
    <button type="submit">Vaihda nimeä</button>

<h3>Viimeisimmät viestisi:</h3>
<table class="table table-bordered table-striped">
    <thead>
    <th>Lanka</th>
    <th>
        Viesti
    </th>
    <th>Aika</th>
</thead>
<tbody>
    <tr>
        <td>Harvinainen Pepe 3£/kg</td>
        <td>Haluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepen</td>
        <td>15.5.2016 12:12:01</td>
        <td><button type="button">Muokkaa</button>
    </tr>
    <tr>
        <td>Harvinainen Pepe 3£/kg</td>
        <td>Haluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepen</td>
        <td>15.5.2016 12:12:01</td>
        <td><button type="button">Muokkaa</button>
    </tr>
    <tr>
        <td>Harvinainen Pepe 3£/kg</td>
        <td>Haluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepen</td>
        <td>15.5.2016 12:12:01</td>
        <td><button type="button">Muokkaa</button>
    </tr>
    <tr>
        <td>Harvinainen Pepe 3£/kg</td>
        <td>Haluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepen</td>
        <td>15.5.2016 12:12:01</td>
        <td><button type="button">Muokkaa</button>
    </tr>
    <tr>
        <td>Harvinainen Pepe 3£/kg</td>
        <td>Haluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepen</td>
        <td>15.5.2016 12:12:01</td>
        <td><button type="button">Muokkaa</button>
    </tr>

</tbody>
</table>


{% endblock %}
