{% extends "base.html" %}

{% block content %}

<h1>SiirappiHirvi</h1>



<h3>Viimeisimmät viestisi:</h3>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
        <th>Lanka</th>
        <th>
            Viesti
        </th>
        <th>Aika</th>
        </thead>
        <tbody>
            <tr>
                <td>Harvinainen Pepe 3£/kg</td>
                <td>Haluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepen</td>
                <td>15.5.2016 12:12:01</td><td><button class="btn btn-primary">Muokkaa</button>
                <td><button class="btn btn-danger">Poista</button>
            </tr>
            <tr>
                <td>Harvinainen Pepe 3£/kg</td>
                <td>Haluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepen</td>
                <td>15.5.2016 12:12:01</td>
                <td><button class="btn btn-primary">Muokkaa</button>
                <td><button class="btn btn-danger">Poista</button>
            </tr>
            <tr>
                <td>Harvinainen Pepe 3£/kg</td>
                <td>Haluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepen</td>
                <td>15.5.2016 12:12:01</td>
                <td><button class="btn btn-primary">Muokkaa</button>
                <td><button class="btn btn-danger">Poista</button>
            </tr>
            <tr>
                <td>Harvinainen Pepe 3£/kg</td>
                <td>Haluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepen</td>
                <td>15.5.2016 12:12:01</td>
                <td><button class="btn btn-primary">Muokkaa</button>
                <td><button class="btn btn-danger">Poista</button>
            </tr>
            <tr>
                <td>Harvinainen Pepe 3£/kg</td>
                <td>Haluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepenHaluaisin vain harvinaisen pepen</td>
                <td>15.5.2016 12:12:01</td>
        <div class="container">
            <td><button class="btn btn-primary">Muokkaa</button>
            <td><button class="btn btn-danger">Poista</button>
                </tr>

                </tbody>
                </table>
</div><br>
<h3>Vaihda tilisi nimi tai salasana:</h3><br>

        <div id="menu">
    <ul>
        <li> <div class="form">


                <input type="text" class ="form-group-sm">
                <label>Uusi nimi </label>
            </div>
            <button type="submit">Vaihda nimeä</button></li>
        <li><div class="form">
                <form>
                    <input type="password">
                    <label>Uusi salasana</label>
                </form>
            </div><button type="submit">Vaihda salasana</button></li>
    </ul>
</div>


        {% endblock %}
